In [29]:
import os 
import numpy as np
import pandas as pd

In [30]:
dir_data = r'D:\GitHub\3rd-ML100Days\homework\data'
f_app=os.path.join(dir_data,'application_test.csv')
app_test=pd.read_csv(f_app)

檢視欄位中每個類型資料數量

In [31]:
app_test.dtypes.value_counts()

float64    65
int64      40
object     16
dtype: int64

檢視「類別型資料」的欄位中分別數量

In [32]:
app_test.select_dtypes(include=['object']).apply(pd.Series.nunique,axis=0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               7
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             5
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [33]:
from sklearn.preprocessing import LabelEncoder

# Label encoding

In [34]:
le=LabelEncoder()
le_count=0
for col in app_test:
    if app_test[col].dtypes=='object':
        if len(list(app_test[col].unique()))<=2:
            le.fit(app_test[col])
            app_test[col]=le.fit_transform(app_test[col])
            le_count+=1
print('%d columns were label encoded.' % le_count)

4 columns were label encoded.

# 作業

先將要one hot encoding的欄位做label encoding處理

In [54]:
app_test=pd.read_csv(f_app)
sub_test=pd.DataFrame(app_test['WEEKDAY_APPR_PROCESS_START'])
print(sub_test.shape)
sub_test['WEEKDAY_APPR_PROCESS_START']=le.fit_transform(app_test['WEEKDAY_APPR_PROCESS_START'])
sub_test.head()

(48744, 1)

   WEEKDAY_APPR_PROCESS_START
0                           5
1                           0
2                           1
3                           6
4                           0

再將label encoding處理過的資料轉換成one hot encoding

In [58]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features=[0])
data_str_ohe=onehotencoder.fit_transform(sub_test).toarray()
pd.DataFrame(data_str_ohe).head()

     0    1    2    3    4    5    6
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  1.0
4  1.0  0.0  0.0  0.0  0.0  0.0  0.0