讀取訓練資料和測試資料

In [13]:
import pandas as pd 
import numpy as np

df_train=pd.read_csv(r'D:\GitHub\3rd-ML100Days\homework\data'+'\house_train.csv.gz')
df_test=pd.read_csv(r'D:\GitHub\3rd-ML100Days\homework\data'+'\house_test.csv.gz')
df_train=pd.DataFrame(df_train)
df_test=pd.DataFrame(df_test)
df_train.shape
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

先抽出 SalePrice 和 ID ,將 train_x 和 test_x 取出合併成 df 先做特徵工程

In [16]:
train_Y = np.log1p(df_train['SalePrice'])
ids = df_test['Id']
df_train = df_train.drop(['Id', 'SalePrice'] , axis=1)
df_test = df_test.drop(['Id'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

將資料用類別型態做 groupby 分群,再用aggregate 彙整

In [20]:
dtype_df=df.dtypes.reset_index()
dtype_df.columns=(['Count','Column Type'])
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df.head()

  Column Type  Count
0       int64     25
1     float64     11
2      object     43

建立三種類別的list , 分別將欄位名稱存在list中

In [24]:
int_features = []
float_features = []
object_features = []
for dtype,feature in zip(df.dtypes,df.columns):
    if dtype=='float64':
        float_features.append(feature)
    elif dtype=='int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Interger feature: {int_features}\n')
print(f'{len(float_features)} Float feature: {float_features}\n')
print(f'{len(object_features)} Object feature: {object_features}\n')

25 Interger feature: ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

11 Float feature: ['LotFrontage', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageYrBlt', 'GarageCars', 'GarageArea']

43 Object feature: ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

# 作業1

查看 float類型前五列

In [26]:
df[float_features].head()

,LotFrontage,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath,GarageYrBlt,GarageCars,GarageArea
0,65.0,196.0,706.0,0.0,150.0,856.0,1.0,0.0,2003.0,2.0,548.0
1,80.0,0.0,978.0,0.0,284.0,1262.0,0.0,1.0,1976.0,2.0,460.0
2,68.0,162.0,486.0,0.0,434.0,920.0,1.0,0.0,2001.0,2.0,608.0
3,60.0,0.0,216.0,0.0,540.0,756.0,1.0,0.0,1998.0,3.0,642.0
4,84.0,350.0,655.0,0.0,490.0,1145.0,1.0,0.0,2000.0,3.0,836.0

float類型的平均值

In [34]:
print(df[float_features].aggregate(np.mean))

LotFrontage       69.305795
MasVnrArea       102.201312
BsmtFinSF1       441.423235
BsmtFinSF2        49.582248
BsmtUnfSF        560.772104
TotalBsmtSF     1051.777587
BsmtFullBath       0.429894
BsmtHalfBath       0.061364
GarageYrBlt     1978.113406
GarageCars         1.766621
GarageArea       472.874572
dtype: float64

float類型的最大值

In [37]:
print(df[float_features].aggregate(max))

LotFrontage      313.0
MasVnrArea      1600.0
BsmtFinSF1      5644.0
BsmtFinSF2      1526.0
BsmtUnfSF       2336.0
TotalBsmtSF     6110.0
BsmtFullBath       3.0
BsmtHalfBath       2.0
GarageYrBlt     2207.0
GarageCars         5.0
GarageArea      1488.0
dtype: float64

float 類型的相異值

In [46]:
df[float_features].nunique()

LotFrontage      128
MasVnrArea       444
BsmtFinSF1       991
BsmtFinSF2       272
BsmtUnfSF       1135
TotalBsmtSF     1058
BsmtFullBath       4
BsmtHalfBath       3
GarageYrBlt      103
GarageCars         6
GarageArea       603
dtype: int64

int 類型的平均值

In [48]:
print(df[int_features].aggregate(np.mean))

MSSubClass          57.137718
LotArea          10168.114080
OverallQual          6.089072
OverallCond          5.564577
YearBuilt         1971.312778
YearRemodAdd      1984.264474
1stFlrSF          1159.581706
2ndFlrSF           336.483727
LowQualFinSF         4.694416
GrLivArea         1500.759849
FullBath             1.568003
HalfBath             0.380267
BedroomAbvGr         2.860226
KitchenAbvGr         1.044536
TotRmsAbvGrd         6.451524
Fireplaces           0.597122
WoodDeckSF          93.709832
OpenPorchSF         47.486811
EnclosedPorch       23.098321
3SsnPorch            2.602261
ScreenPorch         16.062350
PoolArea             2.251799
MiscVal             50.825968
MoSold               6.213087
YrSold            2007.792737
dtype: float64

int 類型的最大值

In [50]:
print(df[int_features].aggregate(max))

MSSubClass          190
LotArea          215245
OverallQual          10
OverallCond           9
YearBuilt          2010
YearRemodAdd       2010
1stFlrSF           5095
2ndFlrSF           2065
LowQualFinSF       1064
GrLivArea          5642
FullBath              4
HalfBath              2
BedroomAbvGr          8
KitchenAbvGr          3
TotRmsAbvGrd         15
Fireplaces            4
WoodDeckSF         1424
OpenPorchSF         742
EnclosedPorch      1012
3SsnPorch           508
ScreenPorch         576
PoolArea            800
MiscVal           17000
MoSold               12
YrSold             2010
dtype: int64

int 類型的相異值

In [53]:
df[int_features].nunique()

MSSubClass         16
LotArea          1951
OverallQual        10
OverallCond         9
YearBuilt         118
YearRemodAdd       61
1stFlrSF         1083
2ndFlrSF          635
LowQualFinSF       36
GrLivArea        1292
FullBath            5
HalfBath            3
BedroomAbvGr        8
KitchenAbvGr        4
TotRmsAbvGrd       14
Fireplaces          5
WoodDeckSF        379
OpenPorchSF       252
EnclosedPorch     183
3SsnPorch          31
ScreenPorch       121
PoolArea           14
MiscVal            38
MoSold             12
YrSold              5
dtype: int64

object 類型的平均值

In [54]:
print(df[object_features].aggregate(np.mean))

TypeError: ('can only concatenate str (not "int") to str', 'occurred at index MSZoning')

object 類型的最大值

In [55]:
print(df[object_features].aggregate(max))

TypeError: ("'>' not supported between instances of 'float' and 'str'", 'occurred at index MSZoning')

object 類型的相異值

In [58]:
df[object_features].nunique()

MSZoning          5
Street            2
Alley             2
LotShape          4
LandContour       4
Utilities         2
LotConfig         5
LandSlope         3
Neighborhood     25
Condition1        9
Condition2        8
BldgType          5
HouseStyle        8
RoofStyle         6
RoofMatl          8
Exterior1st      15
Exterior2nd      16
MasVnrType        4
ExterQual         4
ExterCond         5
Foundation        6
BsmtQual          4
BsmtCond          4
BsmtExposure      4
BsmtFinType1      6
BsmtFinType2      6
Heating           6
HeatingQC         5
CentralAir        2
Electrical        5
KitchenQual       4
Functional        7
FireplaceQu       5
GarageType        6
GarageFinish      3
GarageQual        5
GarageCond        5
PavedDrive        3
PoolQC            3
Fence             4
MiscFeature       4
SaleType          9
SaleCondition     6
dtype: int64

類別型資料在找平均值和最大值時會發生Type error的問題,所以類別型資料要先做處理方便後續工作

# 作業2

複合型資料和圖片型資料,圖片型資料的資料前處理可先轉換成類別型資料分類成數值,複合型資料可能包含數字與字串
就要先找出哪幾個index是數值哪幾個是類別才有辦法做處理,所以我認為最複雜的是類別型資料